@font-face {
  font-family: 'MostraNuova-Regular';
  src: url(./assets/fonts/MostraNuova-Regular.woff);
}
@font-face {
  font-family: 'MostraNuova-Light';
  src: url(./assets/fonts/MostraNuova-Light.woff);
}

@font-face {
  font-family: 'MostraNuova-Bold';
  src: url(./assets/fonts/MostraNuova-Bold.woff);
}

@font-face {
  font-family: 'Myriad-Pro-Regular';
  src: url(./assets/fonts/MyriadPro-Regular.woff);
}
@font-face {
  font-family: 'Myriad-Pro-Light';
  src: url(./assets/fonts/MyriadPro-Light.woff);
}
@font-face {
  font-family: 'Myriad-Pro-LightIt';
  src: url(./assets/fonts/MyriadPro-LightIt.woff);
}
@font-face {
  font-family: 'Myriad-Pro-It';
  src: url(./assets/fonts/MyriadPro-It.woff);
}
