@use '_fonts';

// *******VARIABLES********

$primary-font: MostraNuova-Regular;
$primary-font-bold: MostraNuova-Bold;
$primary-font-light: MostraNuova-Light;
$secondary-font: Myriad-Pro-Regular;
$secondary-font-light: Myriad-Pro-Light;
$secondary-font-lightIt: Myriad-Pro-LightIt;
$secondary-font-It: Myriad-Pro-It;
$gold-color: #af9a7d;
$mainWhite: #ffff;
$offWhite: #f7f7f7;
$mainBlack: #222;
$mainGrey: #ececec;
$darkGrey: #cfcfcf;
$mainTransition: all 0.3s linear;
$mainSpacing: 3px;
$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);

// *********MAIN STYLES********
.gold--color {
  color: $gold-color;
}

ul {
  list-style: none;
}

.italic--font {
  font-family: $secondary-font-It;
}

@mixin testMixin() {
}

%panel {
  color: blue;
  border: 2px solid red;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: url(./assets/images/svg/bg-black.svg) no-repeat;
  background-size: cover;
  @include testMixin();
  font-family: $secondary-font, sans-serif;
}

.small-panel {
  @extend %panel;
  font-size: 1.5em;
}

// ***********NAVBAR*************
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar__ul {
  display: flex;
  justify-content: space-around;

  padding: 1em;

  li {
    border-top: 1px solid $gold-color;
    width: 3%;
    cursor: pointer;
  }
}

.navbar__ul__li__container {
  display: flex;
  flex-direction: column;
  padding: 0 3em;
  position: relative;
  top: -1em;
  img {
    cursor: pointer;
  }
  li {
    border: none;
  }
}

// ***********HERO*************
#hero {
  height: 100vh;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
    font-weight: lighter;
  }
}

// ***********LOGO*************
#logo {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

// ***********ABOUT*************
#about {
  background: url(./assets/images/svg/_bg-about.svg) no-repeat;
  background-size: cover;
  height: auto;
}

.about__heading__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./assets/images/svg/header-about.svg) no-repeat center;
  padding-top: 2em;
  h1 {
    font-family: $primary-font-bold;
    margin-bottom: -0.4em;
  }
  p {
    font-family: $secondary-font-light;
    font-size: 1em;
    font-weight: bolder;
    letter-spacing: 0.3em;
  }
}

.about__ul {
  display: flex;
  align-items: center;

  li {
    border-bottom: 3px solid $gold-color;
    width: 4%;
    margin: 1em 14%;
  }
}

.about__images {
  display: flex;
  justify-content: space-evenly;
  margin: 3em 0;
  div {
    width: 11em;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.about__article,
.about__values,
.about__history {
  h3 {
    color: $gold-color;
    font-family: $primary-font-light;
  }
}

.about__text__container {
  max-width: 64em;
  padding: 1em;
  margin: 0 auto;
  text-align: justify;
  article {
    padding-bottom: 2em;
  }
  h3 {
    margin-bottom: 0.3em;
    font-size: 1.5em;
  }
}

.about__values,
.about__history {
  ul {
    padding-left: 1.4em;
    margin-top: 0.3em;
    list-style: armenian;
    font-family: $secondary-font-It;
    letter-spacing: 1px;
  }
}

.about__values {
  padding-bottom: 2em;
}

.about__history {
  div {
    display: flex;
    justify-content: flex-end;
  }
  img {
    width: clamp(4em, 13em, 20em);
    position: relative;
    bottom: 12em;
  }
}

// ***********GALLERY*************

.gallery__image1 {
  grid-area: image1;
}

.gallery__image2 {
  grid-area: image2;
}

.gallery__image3 {
  grid-area: image3;
}

.gallery__image4 {
  grid-area: image4;
}

#gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'image1 image1'
    'image2 image4'
    'image3 image4';
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// ***********HEAD*************
#head {
  img {
    position: absolute;
    text-align: left;
    max-width: clamp(200px, 32%, 1000px);
    z-index: -1;
  }
  h1 {
    font-size: 3.5em;
    margin-bottom: -0.2em;
    font-family: $primary-font;
  }
  p {
    font-family: $primary-font;
    letter-spacing: 2px;
    font-size: 1.1em;
  }
}

.head__title__container {
  color: $mainWhite;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}
.head__logo__img {
  opacity: 0.1;
}
.head__circles__img {
  opacity: 0.6;
}

// ***********MAIN*************
#main {
  padding-top: 10em;
  padding-bottom: 5em;
  background: url(./assets/images/svg/bg-offer.svg) no-repeat;
  background-size: cover;
  height: 200vh;
}

.main__heading__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./assets/images/svg/header-need.svg) no-repeat center;
  padding-top: 2em;
  h1 {
    font-family: $primary-font-bold;
    margin-bottom: -0.4em;
  }
  p {
    font-family: $secondary-font-light;
    font-size: 1em;
    font-weight: bolder;
    letter-spacing: 0.3em;
  }
}

.main__grid {
  img {
    border-radius: 50%;
    border: 3px solid $gold-color;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.main__grid__item1 {
  grid-area: item1;
  margin: 0 auto;
}
.main__grid__item2 {
  grid-area: item2;
  margin: 0 auto;
}
.main__grid__item3 {
  grid-area: item3;
  margin: 0 auto;
}
.main__grid__item4 {
  grid-area: item4;
  margin: 0 auto;
}
.main__grid__item5 {
  grid-area: item5;
}
.main__grid__item6 {
  grid-area: item6;
}
.main__grid__item7 {
  grid-area: item7;
}
.main__grid__item8 {
  grid-area: item8;
}

.main__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'item1 item2 item3 item4'
    'item5 item6 item7 item8';
  max-width: 64em;
  margin: 0 auto;
  gap: 1em;
  padding: 1em;
  padding-bottom: 2em;
  padding-top: 2em;
  text-align: center;
  h3 {
    color: $gold-color;
    border-bottom: 3px solid $gold-color;
  }
}

.main__text__container {
  max-width: 64em;
  padding: 1em;
  margin: 0 auto;
  text-align: justify;
  article {
    padding-bottom: 2em;
  }
  h3 {
    margin-bottom: 0.3em;
    font-size: 1.5em;
    color: $gold-color;
    font-family: $primary-font-light;
  }
}

// ***********MAPS*************
.leaflet-container {
  width: 100%;
  height: 60vh;
}
