@use './styles/fonts';

// *******VARIABLES********

$primary-font: MostraNuova-Regular;
$primary-font-bold: MostraNuova-Bold;
$primary-font-light: MostraNuova-Light;
$secondary-font: Myriad-Pro-Regular;
$secondary-font-light: Myriad-Pro-Light;
$secondary-font-lightIt: Myriad-Pro-LightIt;
$secondary-font-It: Myriad-Pro-It;
$gold-color: #af9a7d;
$blue-color: #5a8cd2;
$mainWhite: #ffff;
$offWhite: #f7f7f7;

// *********MAIN STYLES********
.gold--color {
  color: $gold-color;
}

ul {
  list-style: none;
}

.italic--font {
  font-family: $secondary-font-It;
}

h3 {
  font-family: $primary-font-light;
}

// *********FALLLBACK***************
#fallback {
  text-align: center;
  color: $gold-color;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: url(./assets/images/svg/bg-black.svg) no-repeat;
  background-size: auto;
  font-family: $secondary-font, sans-serif;
}

// ***********NAVBAR*************
#navbar {
  position: sticky;
  top: 0;
  width: 100%;
}
.navbar__ul {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  li {
    border-top: 1px solid $gold-color;
    width: 3%;
    cursor: pointer;
  }
}

.navbar__ul__li__container {
  display: flex;
  flex-direction: column;
  padding: 0 3em;
  position: relative;
  top: -1em;
  img {
    cursor: pointer;
  }
  li {
    border: none;
  }
}

// ***********SLIDINGPANE*************

.slidingpane__header {
  width: 16em;
  img {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.slidingpane__images {
  display: flex;
  flex-wrap: wrap;
  p {
    color: $gold-color;
    border-bottom: 1px solid $gold-color;
    width: 4em;
    margin-bottom: 3px;
  }
  span {
    color: $gold-color;
    &:hover {
      color: $blue-color;
    }
  }
  div {
    height: 40vh;
    flex-grow: 1;
  }
  @media (max-aspect-ratio: 1/1) {
    div {
      height: 30vh;
    }
  }
  img {
    border-radius: 50%;
    border: 3px solid $gold-color;
    max-height: 60%;
    min-width: 60%;
    object-fit: cover;
    vertical-align: bottom;
    cursor: pointer;
    filter: grayscale(100%);
    &:hover {
      filter: grayscale(0%);
    }
  }
}

// ***********HERO*************
#hero {
  height: 100vh;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
    font-weight: lighter;
  }
}

// ***********LOGO*************
#logo {
  display: flex;
  justify-content: center;
  padding-bottom: 3em;
}

// ***********ABOUT*************
#about {
  background: url(./assets/images/svg/_bg-about.svg) no-repeat;
  background-size: cover;
  height: auto;
  padding-bottom: 3em;
}

.about__heading__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./assets/images/svg/header-about.svg) no-repeat center;
  padding-top: 2em;
  padding-bottom: 5em;
  h1 {
    font-family: $primary-font-bold;
    margin-bottom: -0.4em;
  }
  p {
    font-family: $secondary-font-light;
    font-size: 1em;
    font-weight: bolder;
    letter-spacing: 0.3em;
  }
}
.about__images__container {
  padding-bottom: 2em;
}
.about__images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 64em;
  padding: 0 1em;
  margin: 0 auto;
  text-align: -webkit-center;
  text-align: -moz-center;
  h3 {
    color: $gold-color;
    border-bottom: 3px solid $gold-color;
    width: 4em;
    padding-bottom: 1em;
    font-size: 1.5em;
    &:hover {
      color: $blue-color;
    }
  }
  img {
    height: 15em;
    filter: grayscale(100%);
    &:hover {
      filter: grayscale(0%);
    }
  }
}

.about__article,
.about__values,
.about__history {
  h3 {
    color: $gold-color;
  }
}

.about__text__container {
  max-width: 64em;
  padding: 0 1em;
  margin: 0 auto;
  text-align: justify;
  article {
    padding-bottom: 2em;
  }
  h3 {
    margin-bottom: 0.3em;
    font-size: 1.5em;
  }
}

.about__values,
.about__history {
  ul {
    padding-left: 1.4em;
    margin-top: 0.3em;
    list-style: armenian;
    font-family: $secondary-font-It;
    letter-spacing: 1px;
  }
}

.about__values {
  padding-bottom: 2em;
}

.about__history {
  div {
    display: flex;
    justify-content: flex-end;
  }
  img {
    width: clamp(4em, 13em, 20em);
    position: relative;
    bottom: 12em;
  }
}

// ******ABOUT RESPONSIVNESS***********
// everything over 550px
@media (min-width: 550px) {
  .about__images {
    img {
      height: 20em;
    }
  }
}
// everything over 850px
@media (min-width: 850px) {
  .about__images {
    img {
      height: 25em;
    }
  }
}

// ***********GALLERY*************

.gallery__image1 {
  grid-area: image1;
}

.gallery__image2 {
  grid-area: image2;
}

.gallery__image3 {
  grid-area: image3;
}

.gallery__image4 {
  grid-area: image4;
}

#gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'image1 image1'
    'image2 image4'
    'image3 image4';
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.gallery__image1,
.gallery__image2,
.gallery__image3,
.gallery__image4 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

// ***********HEAD*************
#head {
  background: url(./assets/images/svg/bg-black.svg) no-repeat;
  background-size: cover;
  height: 100vh;
  img {
    position: absolute;
    text-align: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: clamp(318px, 32%, 1000px);
  }
  h1 {
    font-size: 3.5em;
    margin-bottom: -0.2em;
    font-family: $primary-font;
  }
  p {
    font-family: $primary-font;
    letter-spacing: 2px;
    font-size: 1.1em;
  }
}

.head__title__container {
  color: $mainWhite;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}
.head__logo__img {
  opacity: 0.1;
}
.head__circles__img {
  opacity: 0.6;
}

// ***********MAIN*************
#main {
  padding-bottom: 5em;
  background: url(./assets/images/svg/bg-offer.svg) no-repeat;
  background-size: cover;
  height: auto;
}

.main__heading__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./assets/images/svg/header-need.svg) no-repeat center;
  padding-top: 2em;
  h1 {
    font-family: $primary-font-bold;
    margin-bottom: -0.4em;
  }
  p {
    font-family: $secondary-font-light;
    font-size: 1em;
    font-weight: bolder;
    letter-spacing: 0.3em;
  }
}

.main__grid {
  img {
    border-radius: 50%;
    border: 3px solid $gold-color;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    &:hover {
      filter: grayscale(0%);
    }
  }
}
.main__grid__item1 {
  grid-area: item1;
  margin: 0 auto;
}
.main__grid__item2 {
  grid-area: item2;
  margin: 0 auto;
}
.main__grid__item3 {
  grid-area: item3;
  margin: 0 auto;
}
.main__grid__item4 {
  grid-area: item4;
  margin: 0 auto;
}
.main__grid__item5 {
  grid-area: item5;
}
.main__grid__item6 {
  grid-area: item6;
}
.main__grid__item7 {
  grid-area: item7;
}
.main__grid__item8 {
  grid-area: item8;
}

.main__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'item1 item2 item3 item4'
    'item5 item6 item7 item8';
  max-width: 64em;
  margin: 0 auto;
  gap: 1em;
  padding: 1em;
  padding-bottom: 2em;
  padding-top: 2em;
  text-align: center;

  h3 {
    color: $gold-color;
    border-bottom: 3px solid $gold-color;
    &:hover {
      color: $blue-color;
    }
  }
}

.main__text__container {
  max-width: 64em;
  padding: 1em;
  margin: 0 auto;
  text-align: justify;
  padding-bottom: 1em;
  article {
    padding-bottom: 2em;
  }
  h3 {
    margin-bottom: 0.3em;
    font-size: 1.5em;
    color: $gold-color;
  }
}

// ***********MAPS*************
.leaflet-container {
  width: 100%;
  height: 70vh;
  margin: 1px 0;
}

// ***********CONTACT*************
#contact {
  background: url(./assets/images/svg/bg-contact.svg) no-repeat;
  background-size: cover;
  height: 150vh;
  padding-top: 5em;
  margin-top: 5%;
}

.contact__circle__img {
  position: absolute;
  width: 100%;
  opacity: 0.6;
  z-index: -1;
  right: 18%;
}

.contact__heading__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./assets/images/svg/header-contact.png) no-repeat center;
  padding-top: 9em;
  h1 {
    font-family: $primary-font-bold;
    margin-bottom: -0.4em;
  }
  p {
    font-family: $secondary-font-light;
    font-size: 1em;
    font-weight: bolder;
    letter-spacing: 0.3em;
  }
}

.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-family: $primary-font-bold;
  h4 {
    margin-bottom: 0;
  }
}

// ***********CONTACT FORM*************
#contactForm {
  padding-top: 5em;
  input {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom: 2px solid $gold-color;
    background: none;
    font-family: $primary-font;
    padding: 1em;
    font-size: 1em;
  }

  textarea {
    border: none;
    resize: none;
    background: none;
    padding-top: 0.7em;
    padding-left: 0.5em;
    margin-bottom: -6px;
    font-family: $primary-font;
    font-size: 1em;
    overflow: hidden;
  }
  button {
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid $gold-color;
    width: 67.3%;
    font-family: $primary-font;
    font-size: 1em;
    transition: border 0.1s linear;
    &:hover {
      border-bottom: 4px solid $gold-color;
    }
  }
}

.contactForm__container__main__and__textarea {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}
.contactForm__container__main {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 2em;
  width: 30em;
}

.contactForm__container__button {
  display: flex;
  justify-content: center;
  padding-top: 4em;
  margin-left: 14px;
}

.contactForm__container__textarea {
  border: 2px solid #af9a7d;
  padding-right: 1em;
  width: 30em;
}

// ***********FOOTER*************
#footer {
  background: url(./assets/images/svg/bg-black.svg) no-repeat;
  background-size: cover;
}

.contact__footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5em;
  padding-bottom: 5em;
}

.contact__footer_div {
  font-family: $secondary-font-light;
  font-weight: 100;
  opacity: 0.8;
}

.contact__footer__ornament {
  padding-bottom: 0.5em;
}

// ***********BOOK*************

@mixin bookMixin() {
  position: absolute;
  cursor: pointer;
  opacity: 0.5;
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s, background-color 1s;
  transition-timing-function: linear;

  h3 {
    color: $mainWhite;
    font-size: 1.5em;
    padding: 1em;
  }
  &:hover {
    background-color: coral;
    opacity: 0.5;
    transform: scale(2);
  }
}
.book1 {
  @include bookMixin();
}

.book2 {
  @include bookMixin();
  &:hover {
    background-color: $gold-color;
  }
}
.book3 {
  @include bookMixin();
  &:hover {
    background-color: $gold-color;
  }
}
.book4 {
  @include bookMixin();
  &:hover {
    background-color: coral;
  }
}
